
.container {
width: 1000px;
margin-top: 10px;
border-radius: 10px 10px 10px 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
background-color: rgb(247, 247, 247);
}

.btn {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
.navbar{
    background:rgb(0, 0, 0) 
    }

    